body{
  font-family: 'Roboto', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 70% auto;
  grid-gap: 10px;
  background-color: #fff;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-rows-1 {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-rows-1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
}

.grid-rows-2 {
  display: grid;
  grid-template-rows: repeat(3,150px);
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-rows-2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

  .navbar{
    overflow: hidden;
    background-color: #eee;
    top:0;
    width: 100%;
  }

  .navbar a{
    display: inline-block;
    color: black;
    text-align: left;
    padding: 10px 20px 5px 5px;
  }

  .logo{
    width:30px;
    display: block;
  }

  .logo-video{
    height: 30px
  }

  .logo-s{
    width: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  color: red;
}

.nav-item-center{
  text-align:center;
}

.nav-item-right{
  text-align:right;
}

.profile-pic {
  border-radius: 50%;
  height: 40px;
}

.thumbnail{
  border: 1px solid #eee;
  border-radius: 4px;
  width:192px;
  padding: 5px;
}

.grid-cols-playlist{
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.grid-cols-playlist > div {
  align-items: start;
  font-size: 12px;
}


.comment-user{
  color: #0d0d0d;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.comment-time{
  color: #606060;
  font-size: 12px;
}

.comment-itself{
  color: #111;
  font-size: 15px;
  line-height: 5px;

}



.video-title{
  color: #0d0d0d;
  font-size: 30px;
  font-weight: normal;
}

.video-views{
  color: #606060;
  font-size: 16px;
}

.grid-playlist-description{
  text-align: left;
}

.time-box{
  border-radius: 2px;
  margin: 4px;
  padding: 2px 4px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  left: 28%;
  bottom: 23%;
}
