nav{
    position: relative;
}

.logo-responsive {
  width: auto;
    height: 24px;
    top: 0;
}

.profile-pic {
  border-radius: 50%;
  height: 40px;
}

aside {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 70% auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-rows-1 {
  display: grid;
  grid-template-rows: 80% auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-rows-1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-rows-2 {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-rows-2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
